:root {
    --white: #ffff;
    --slightly-desaturated-cyan: #5FB4A2;
    --dark-blue: #203A4C;
    --grayish-dark-blue: #33323D;
    
    --very-light-grey-bg: #FAFAFA;
    --light-grey-text-field: #EAEAEB;
    --bright-red-errors: #F43030;
    
    --headings-text: "Ibarra Real Nova", system-ui;
    --body-text: "Public Sans", sans-serif;
    --bold: 600;
    --norma: normal;
}

/* Global components */
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body {
    max-width: 1200px;
    margin: auto;
    padding: 0px 40px;
}

a, button{
    cursor: pointer;
}

a {
    text-decoration: none;
}

.go-to-about-me a {
    color: var(--white);
}

.see-portfolio a {
    color: var(--grayish-dark-blue);
}

/* hr lines */
.top-line {
    margin-top: 40px;
    height: 1px;
    background-color: var(--light-grey-text-field);
}

.bottom-line {
    height: 1px;
    background-color: var(--light-grey-text-field);
    
}

p {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    line-height: 30px;
    font-size: 18px;
    color: var(--dark-blue);
    margin: 0;
}

h1:focus-visible,
h2:focus-visible,
h3:focus-visible,
p:focus-visible,
button:focus-visible {
    border: 4px solid var(--slightly-desaturated-cyan);
    outline: none; 
}